@{
    Layout = "~/Views/Asset/Browse.cshtml";
}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Assets/Edit.js")"></script>
}

<script> var assetTypeId = @ViewBag.id; </script>
<div>
    <label>Name:</label>
    <input id="assetName"
           class="form-control" />
</div>n id="addPropButton">Add New</button>
</div>
<div id="propertiesDiv">

    <div>
        <label>Description:</label>
        <input id="assetDescription"
               class="form-control" />
    </div>
    <div>
        <label>Properties:</label>
    </div>
    <div>
        
</div>
