@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Asset/Edit.js")"></script>

}

<div id = "editDiv">
	<div>
        <label>Name:</label>
        <input id="assetName"
               class="form-control" />
    </div>

    <div>
        <label>Description:</label>
        <input id="assetDescription"
               class="form-control" />
    </div>
	
	<div>
        <label>Properties:</label>
    </div>
	<div> 
        <button id="addPropButton"> Add New </button>
    </div>
	  <div id="propertiesDiv" class="container">

	</div>   
</div>
    <script> var assetTypeId = @ViewBag.id; </script>
