@{
    ViewBag.Title = "Browse Asset Types";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/AssetType/Browse.js")"></script>
}

<h1>Browse Asset Types</h1>
<!--Begin Asset Types Table-->
<table id="assetTypesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<!--End Asset Types Table-->


