@{
    ViewBag.Title = "Browse Asset Types";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/AssetType/Browse.js")"></script>
    <script src="@Url.Content("~/Scripts/DataTables/datatables.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/Scripts/DataTables/datatables.css")" rel="stylesheet" type="text/css" />
}

<h1>Browse Asset Types</h1>
<!--Begin Asset Types Table-->
<table id="assetTypesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<!--End Asset Types Table-->


