.top-align > * {
    vertical-align: top;
}

.col-25 {
    display: inline-block;
    width: 24%;
}

.clickable {
    cursor: pointer !important;
}

.center {
    text-align: center;
}

.odd {
    background: rgb(220, 220, 220) !important;
}