@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cleveland Clinic</h1>
    <p class="lead">Every life deserves world class care.</p>
    <p><a href="https://my.clevelandclinic.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Learn about us  and our mission to create world class helthcare for everyone.
        </p>
        <p><a class="btn btn-default" href="https://my.clevelandclinic.org/about">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>If you have questions we are here to help. Hit learn more to contact a professional or get answers to your health concerns.</p>
        <p><a class="btn btn-default" href="https://my.clevelandclinic.org/help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>To review different assets and inventory feel free to login. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Login &raquo;</a></p>
    </div>
</div>